.header_panel_mobile_container{
    height: 660px;
}
.header_panel_mobile_info{
    height: 530px;
    overflow: scroll;
}
.header_user{
    padding: 15px;
    background-color: #79c5c5;
    height: 170px;
}
.header_meta{
    background-color: #e9f5f9;
    padding: 5px;
    line-height: 10px;
    margin-bottom: 10px;
}
.colorBarEnd {
    text-align: end;
}
.colorBar {
}
